<font size = "20"> SoNAR (IDH) </font>

<font size = "12"> Interfaces to Data for Historical Social Network Analysis and Research </font>

<font size = "12">Notebook 1:  Jupyter and Python</font>

This curriculum serves as a guide and introductory resource into using the SoNAR (IDH) network database with the help of python and Jupyter notebooks.

This curriculum uses [Jupyter](http://jupyter.org/) Notebooks to document and explain how to do historical network analyses with SoNAR (IDH). 
This first notebooks provides a high-level overview of the basic functionality of Jupyter notebooks as well as a quick introduction to basic python. All following notebooks will build up upon the fundamentals explained in this notebook.

# Jupyter Notebooks

Jupyter Notebooks are basically a kind of code editor you can use inside your web browser. This means you can write, edit and run code and from your browser, the code is immediately interpreted and the results are visible directly under the executed code. 

What makes Jupyter notebooks so versatile is that you can mix code blocks and text blocks within the same document and thus create interactive, transparent and reproducible documentations or guides.

## Project Jupyter

[Project Jupyter](https://jupyter.org/) is the name of the non-profit and open-source project that develops the Jupyter notebook technology this curriculum is based on. 

Project Jupyter is maintained and developed by a big community with a focus on making scientific computing accessible, easy and free. 

The name Jupyter is derived from the names of the three programming languages **Ju**lia, **Pyt**hon and **R**. The main objective of Jupyter is supporting interactive data science and scientific computing across all programming languages. All notebooks in this curriculum use a Python kernel.

## Operating Jupyter

At first we are going to take a look into the Jupyter interface we will use throughout this curriculum. To be precise `JupyterLab` will be used, which is an environment that includes the aforementioned notebooks as well as an environment to easily operate and interact with the notebooks.

### Dashboard

The Jupyter dashboard is your welcome screen to your project. The picture beneath depicts how this welcome screen for the SoNAR (IDH) Jupyter curriculum looks like. 
The dashboard enables you to administer and manage the project by creating new files, browsing your project directory, checking installed and running kernels and many things more.

<center>
    
        <img src="../images/01_dashboard.png", width="600">
    
</center>

In this curriculum we will only use a small fraction of the possibilities of Jupyter. The most crucial things you need to know about the dashboard are the following elements:

**Left Sidebar** 


<center>
        <img src="../images/01-1_sidebar.png" alt="Dashboard" style="hight: 100px;"/>
</center>


1. File Browser

>The default tab that is active in the left sidebar is the file browser tab. This file browser enables you to manage (e.g. open, delete, rename) the files in the current project. Inside the `notebooks` folder you can find all the notebooks that are part of the SoNAR Jupyter curriculum. <br>
When you right-click a file you have many options to manage the respective file - you also can download the file to your own machine if you like. 
The other files in this project are not necessarily important for you - they provide some setup information about the project itself, so it is reproducible on any machine. When you just want to follow along the curriculum you do not need to care about these files. <br>
>At the very top of the file browser tab you can find the browser ribbon. 
Click on the blue button to open up the launcher window <br>
The folder button next to it creates a new empty folder at the current path of the browser window. <br>
The upwards arrow opens up an upload prompt. Use this function if you want to upload a file from your local machine to the project (e.g. a dataset you want to use). <br>
The curly arrow at the very right is a refresh button for the file browser. Use this button in case some changes in the files and folders are not shown in the file browser yet.

2. Kernel Manager

>Jupyter uses `Kernels` to execute code. A Kernel is basically a programming language that is called whenever you ask Jupyter to interpret code you wrote. The curriculum uses a `Python 3.8` kernel. You can use the kernel manager to take a look at how many active kernels are running and you can shut down kernels from here.

<div class="alert alert-block alert-info">
<b>Hint:</b>When simply following along this curriculum you won't need to care about the running kernels. You do not need to pay much attention to this tab.</div>

3. Table of Contents

>For every notebook in this curriculum you can find a table of content to easily navigate the sections of the notebooks. Using this tab when following along this curriculum is highly recommended since it provides an overview and a navigation for the notebook you are reading.

<div class="alert alert-block alert-info">
<b>Hint:</b>Remember to activate this tab when reading a notebook to easily navigate the content.</div>

4. Extensions

>You can use extensions to add more functionality to your Jupyter environment. The setup of this curriculum already took care of all extensions needed. Hence you do not need to care about his tab when following along this curriculum.

### Notebooks

Jupyter notebooks are documents that combine live runnable code with narrative text (Markdown), equations, images, interactive visualizations and other rich output.


**Create a new Notebook**

From the launcher tab, choose `Python`to create a new notebook

**The Toolbar**

When you open up a notebook you can see the toolbar at the very top of the notebook. This is what the toolbar can do for you:


<center>
    <img src="../images/02_notebook.png" alt="Toolbar" style="width: 400px;"/>
</center>


Category                     | Data Types
:-------------:               | :----------------------
![](../images/02-0_save.png)     | Save the current state of the notebook
![](../images/02-1_insert_cell.png)              | Insert a new cell below the current selection
![](../images/02-2_cut.png)              | Cut the selected cell
![](../images/02-3_copy_cell.png)              | Copy the selected cell
![](../images/02-4_paste_cell.png)              | Paste the copied or cut cell
![](../images/02-5_run_cell.png)              | Run the selected cell
![](../images/02-6_stop_cell.png)              | Stop the execution of the selected cell
![](../images/02-7_restart_kernel.png)              | Restart the kernel of the notebook
![](../images/02-8_restart_and_rerun.png)              | Restart the kernel and execute all code cells chronologically 
![](../images/02-9_select_cell_type.png)              | Select the cell type (Code, Markdown, Raw)

#### The Cells

Jupyter Notebooks basically consist of cells that are arranged vertically. Every text you read so far is written inside a cell. When you double click any image or text in this notebook, the respective cell will jump into "edit mode" and you can change the contents to your liking. When you hit the `run-button` in the toolbar (<img src="../images/02-5_run_cell.png" alt="Toolbar" style="height: 20px;"/>) after you are done editing, the cell will be executed and it jumps back to what is called the "command mode".

<div class="alert alert-block alert-info">
<b>Hint:</b>You can only edit cells when you are using the notebook in an interactive environment (either a local setup or on binder). </div>

There are two relevant cell types Jupyter Notebooks provide. The first one being `code` and the second one is `markdown`. Here is how they differ from each other:

**Code Cell**

Code cells let you write and execute programming code. Make sure you select the `Code`cell type in the cell type drop down you find in the toolbar.

When you type code in a code cell and hit on the run button in the toolbar, the code is executed and the output of the code is beneath the code cell: 

<center>
    <img src="../images/03-1_code_cell.png" alt="Toolbar" style="width: 400px;"/>
</center>

Executed code will be held in the memory of the `kernel`. When you assign a value to a variable in one cell, you can use this variable in another cell.

**Markdown Cell**

`Markdown`is a markup language for creating formatted text. `Markdown` has a very simple syntax you can use for formatting text, tables or lists. You can also embed images, `HTML` blocks and other media formats with `Markdown`.

A quick example of how `markdown`works can be found in the images beneath. The left hand side shows the markdown syntax during editing mode of a cell. The right hand side shows the executed `markdown` cell after you hit the run button.

raw markdown | rendered markdown
- | - 
![](../images/03-2_markdown1.png) | ![rendered_markdown](../images/03-2_markdown2.png)


A good overview of how `markdown` in Jupyter notebooks works can be found [here](https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd)

# Python

## Arithmetic & Logical Operators

Some very basic commands you need to know when coding with Python are arithmetic operators. You can use these operators to execute basic calculations. See the table below for an overview about the base operators Python provides

Operator                    | Description
-------------               | ---------------------------------------------------------------------------:
`+`               | addition
`-`               | subtraction
`*`               | multiplication
`/`               | division
`**`         | exponentiation
`%`              | modulo operator (returns the remainder)
`//`             | integer division (drops the remainder)

Additionally Python also provides a set of logical and comparison operators. See table below:

Operator                    | Description
-------------               | ---------------------------------------------------------------------------:
`<`               | less than
`<=`              | less than or equal to
`>`               | greater than
`>=`              | greater than or equal to
`==`              | equal 
`!=`              | not equal
`not`              | not x
`or`             | x OR y
`and`           | x AND y

Let's use these operators:

<div class="alert alert-block alert-info">
<b>Hint:</b> Remember that you execute code by either hitting the run button in the notebook toolbar or by using the keyboard shortcut <code>shift + enter</code> </div>

Calculate `1+1`:

In [15]:
1+1

2

Calculate `2*7`:

In [17]:
2*7

14

<div class="alert alert-block alert-info">
    <b>Hint:</b> You can assign values to a variable by using the <code>=</code> sign.</div>

1. Assign `1+1` to `variable1` and `2*7` to `variable2` <br>
2. Calculate `variable1 - variable2`

In [21]:
variable1 = 1+1
variable2 = 2*7

variable1 - variable2

-12

Check whether `variable2` is greater than `variable1`

In [22]:
variable2 > variable1

True

Check whether `variable2` is `14` and `variable1` is `3` (both conditions must be correct to be `true`, otherwise the condition is `false`)

In [20]:
variable2 == 14 and variable1 == 3

False

## Data Types

In the previous section, numbers where used to calculate things. However, Python can handle a variety of other data types as well. 
In this section we check out three of the most important categories of data types Python can handle. This list is not exhaustive though. You can find a complete overview of data types Python natively supports [here](https://www.w3schools.com/python/python_datatypes.asp).

We will cover three categories of data types in this section, namely:

Category                     | Data Types
:-------------:               | :----------------------:
`Text Type`     | `str`
`Numeric Types`              | `int`, `float`
`Sequence & Mapping Types`    | `list`, `range`, `dict`

### Text Type

The text type is used for character input. Whenever you want to work with character strings (words & text) Python uses the text type for doing so. The differentiation between different types is crucial since there are operations that are meaningful for text but not for numbers (e.g. capitalizing letters, splitting at line breaks).

In the following example we will assign a text to a variable. Afterwards we gonna "ask" Python about the data type of this variable.  

We use the following sentence: 
>Ada Lovelace was an English mathematician and writer, chiefly known for her work on Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine

*Text taken from: https://en.wikipedia.org/wiki/Ada_Lovelace*


<div class="alert alert-block alert-info">
<b>Hint:</b> When you want to assign text to a variable, make sure your text is wrapped inside quotation marks</div>

In [23]:
# We create a variable called 'ada_description'. 
# By using the "=" sign, we assign the character string on the right side to the new variable
ada_description = "Ada Lovelace was an English mathematician and writer, chiefly known for her work on Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine"

There is no output of the cell above because we only assign something to a variable. This does not produce any output, we just created a new variable. 
We can print the content of the variable by using the `print()` function mentioned earlier. We also can just type the variable name into a new cell and Jupyter will show us what's in the variable:

In [8]:
ada_description

"Ada Lovelace was an English mathematician and writer, chiefly known for her work on Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine"

Let's check the data type of `ada_description` by using a function called `type()`

In [9]:
type(ada_description)

str

Python returns `str` as the type of `ada_description`. This means that there is text stored inside the `ada_description` object.

### Numeric Types

**Integers**

Integers are whole numbers. Whenever you want to work with numbers without fractions.

In [76]:
number_1 = -46

print(number_1)
type(age_1)

-46

int

**Float**

Floating point real values represent real numbers and are written with a decimal point.

In [74]:
number_2 = 12.876

print(number_2)
type(number_2)

12.876

float

### Sequence & Mapping Types

**Lists**

In [75]:
sequence_1 = list([1, "2", 3.5, "6"])

print(sequence_1)
type(sequence_1)

[1, '2', 3.5, '6']

list

**Ranges**

In [77]:
sequence_2 = range(0, 100)

print(sequence_2)
type(sequence_2)

range(0, 100)

range

**Dictionaries**

In [86]:
mapping_1 = dict({"ada": "female",
                  "alan": "male"})

print(mapping_1)
type(mapping_1)

{'ada': 'female', 'alan': 'male'}

dict

## Loops & If/Else Statements

### Loops 

Loops can be used to execute statements a desired number of times. This can be very helpful in reducing the amount of coded needed for a specific task.

#### For Loops

Let's start with a simple example. At first we create a list of five names. Afterwards we create a loop that outputs a personal greeting to each name:

In [5]:
names = list(["Ada", "Cornélie", "Stanisław", "Mathew", "Liss"])

for name in names:
    print("Hi", name, "!")

Hi Ada !
Hi Cornélie !
Hi Stanisław !
Hi Mathew !
Hi Liss !

Let's break that down:

Part of Command                     | Meaning
:-------------:               | :----------------------:
`for name in names:`     | We ask Python to do something for each element `name` in the variable `names`. 
`print("Hi", name, "!")` | Here we tell Python to print the word `Hi` along with the respective <br> `name` element of the `names` list and a `!` afterwards.

We can also loop over `ranges`. Let's create a `range` from `0` to `5` and do some simple calculation and print meaningful outputs:

In [33]:
example_range = range(0,5)

for i in example_range:
    print("Current number is", i)
    print("Let's devide it by 3")
    print(i, "devided by 3 is", i/3)
    print("")

Current number is 0
Let's devide it by 3
0 devided by 3 is 0.0

Current number is 1
Let's devide it by 3
1 devided by 3 is 0.3333333333333333

Current number is 2
Let's devide it by 3
2 devided by 3 is 0.6666666666666666

Current number is 3
Let's devide it by 3
3 devided by 3 is 1.0

Current number is 4
Let's devide it by 3
4 devided by 3 is 1.3333333333333333

#### While Loops

Another kind of loop you can do is the `while loop`. 

The `while loop` works conditionally. This means you can define a condition and as long as this condition is true, the loop proceeds.

Let's tell Python to count up from zero until it reaches `4`

In [47]:
count_variable = 0

while count_variable < 4:
    print(count_variable)
    count_variable += 1

0
1
2
3

### If ... Else Statements

There are many more scenarios in which you need to define conditions for your code to run than `while loops`. In this case you can use `If/Else statements `
`If/Else statements` let you run any code conditionally. With if else statements you can define what code Python should when a condition is true and what should happen when the condition is not true. 

Let's use the names list again from the for loop example above. 

This time we only want to great every second person. This means we need to embed an `If/Else` statement within the `for loop`

In [2]:
names = list(["Ada", "Cornélie", "Stanisław", "Mathew", "Liss"])
count_variable = 0

for name in names:
    if (count_variable % 2) == 0:
        print("Hi", name, "!")
        count_variable += 1
    else:
        print("No greeting for", name)
        count_variable += 1

Hi Ada !
No greeting for Cornélie
Hi Stanisław !
No greeting for Mathew
Hi Liss !

Let's break that down:

Part of Command                     | Meaning
:-------------:               | :----------------------:
`if (count_variable % 2) == 0:`     | We check whether the iteration the `for loop` is in currently, is an even number.
`else` | The `else` part off the code defines what happens, when the iteration the `for loop` is in, <br> is not even. In this case we do not want to greet the respective person.

## Functions

Generally speaking, functions in Python are blocks of code that only run, when they are called. Functions always follow the pattern: 
>`function_name(arguments)`

We already used some of the built-in functions of Python like `print()`, `list()` or `range()`. 

However, you can not only use function already existing in Python but you also can write your own functions.

Let's write a small function and see how it works, afterwards.

In [6]:
def hello(to="Everyone"): #optional argument, as default value is set
    return "Hello {}, how are you?".format(to)

hello()

'Hello Everyone, how are you?'

At first, let's quikly summarise what happened in the previous code block. <br>
We wrote a function that is called `hello()`. This function has one argument called `to`and the default value of this argument is `Everyone`. The function itself inserts this argument into a character string so the final return value of the function is "`Hello Everyone, how are you?`"

Now, let's have a more detailed view at what happened:

**1. `def`**

When you want to create a new function you need to use `def` to let Python know you want to *define* a new function. 

**2. `hello(to='Everyone'):`**

This part of the code defines the function name (`hello()`) as well as the argument it digests (`to="Everyone"`). <br>
An argument is any kind of data or information you want to pass on from outside thhe function into the function. It is not mandatory to use any arguments, nor is it mandatory to define a default value for an argument. <br>

In the example above we defined a default value for the `to=` argument. This means that when calling the function it is not necessary to define the `to=` argument unless you want to use another value than the default `Everyone`.

**3. `return "Hello {}, how are you?".format(to)`**

This is the logic of the function. `return` defines what the function is supposed to return. In this case it is returning a character string called `Hello {}, how are you?`. <br>Right after the character string there is `.format(to)`. This is called a `method`. As discussed in [Section 2.2.1](#text-type) there are different things you can do with variables in dependance of the respective data type or class. Character strings in Python have plenty different methods (a kind of sub-function that only works for character strings). One of these methods is `format()`. `format()` can be used to replace a placeholder in a character string with a specified value. <br>

Inside the return string `"Hello {}, how are you?"` there are curly brackets (`{}`) - this is the placeholder `format()` replaces with the specified value that is passed as an argument into `format()`. In the examle above we pass the argument `to` into `format()` - `to` has the deafult value `Everyone` und thus the resulting string that our function returns when calling `hello()` is `Hello Everyone, how are you?`


<div class="alert alert-block alert-info">
    <b>Hint: What is the difference between a <code>method</code> and a <code>function</code>?</b> <br>
    A <code>method</code> is a function that is bound to an object. A <code>function</code> is not bound and might be applied to any object. <code>Method</code>s are called by attaching a <code>.</code> to the object name, followed by the <code>method</code> name: <code>object_name.method_name(argument)</code<

</div>

## Libraries

So far we only used the base functionality of Python. But you also can extend Python by using additional packages/libraries. Throughout this curriculum we will use quite a variety of different libraries.

Since Python is an open-source programming language, there are thousands of libraries written by the Python community. This means whenever you face an issue you want to solve with Python, the likelihood is rather high that there is a library that is exactly made for solving your specific problem. 

The installation of new libraries is very easy. You just need to run `pip install PACKAGE_NAME` from your command line. 

<div class="alert alert-block alert-info">
<b>Hint:</b> When you want to install a new package from within a Jupyter notebook, you need to put a <code>!</code> at the beginning of the code cell, to inform Jupyter about your intention to run the command as a terminal command and not as a Python command.</div>

Let's try that out by installing a package called `pandas` - `pandas` is the most popular Python library for working with tabular data.

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.2.3-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 2.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.1-cp38-cp38-manylinux2010_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 22.6 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.1 pandas-1.2.3

After seccussfully installing `pandas`we can load the library in a code cell and use it in our code. 

You can import libraries to your project by using the `library` call. Additionally you have some option when loading libraries. You can define a new name under which the library should be available in your project. And you also can select just a subsection of the full library in case you do not need every functionality inside the library. 

Usually when using `pandas` there is a convention to abbreviate the library name to `pd`. So whenever you load the library and you want to stick to the convention you would load it as:

In [1]:
import pandas as pd

## Data Frames (with Pandas)

Scientific computing often involves tabular data representation. The advantage of tabular data representation is the clear structure. This data structure is often referred to as `data frame` or `data table`. The terminology around data frames differs slightly, depending on the scientific field. <br>

This table provides a quick overview of different terms for the same concepts:

Element                     | Term
:-------------:               | :----------------------:
Column      | Feaure, Variable, Dimension
Row | Instance, Observation
Cell | Value, Data Point, Datum


Key advantages of `pandas data frames`:
* Manage and analyse data
* Well suited for working with relational and labled data (e.g.: Excel, CSV, SQL Tables)

Let's create an example data frame with `pandas`. At first we create a `dictionary` that contains our data structure. Afterwards we transform the `dictionary` into a `pandas data frame`.

This is the example table we want to create: 

name            | birth_year | gender | 
:-------------: | :--------: | :------:
Ada             | 1815       | female
Cornélie        | 1965       | female
Stanisław       | 1987       | male
Mathew          | 1896       | male
Liss            | 1976       | non-binary

In [2]:
data_dict = dict({"name": ["Ada", "Cornélie", "Stanisław", "Mathew", "Liss"],
                 "birth_year": [1815, 1965, 1987, 1896, 1976],
                 "gender": ["female", "female", "male", "male", "non-binary"]})

data_frame = pd.DataFrame(data = data_dict)

data_frame

        name  birth_year      gender
0        Ada        1815      female
1   Cornélie        1965      female
2  Stanisław        1987        male
3     Mathew        1896        male
4       Liss        1976  non-binary

This `pandas data frame` has some very convenient `methods` helping us to get an understanding what's in the data.

### Summarise data

Let's get a description of the data:

In [9]:
data_frame.describe()

        birth_year
count     5.000000
mean   1927.800000
std      72.365047
min    1815.000000
25%    1896.000000
50%    1965.000000
75%    1976.000000
max    1987.000000

In [10]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        5 non-null      object
 1   birth_year  5 non-null      int64
 2   gender      5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [13]:
data_frame.value_counts()

name       birth_year  gender
Ada        1815        female        1
Cornélie   1965        female        1
Liss       1976        non-binary    1
Mathew     1896        male          1
Stanisław  1987        male          1
dtype: int64

In [24]:
data_frame.groupby("gender").count()

            name  birth_year
gender
female         2           2
male           2           2
non-binary     1           1

### Sort and arrange data

In [11]:
data_frame.sort_values(by = 'birth_year', ascending = False)

        name  birth_year      gender
2  Stanisław        1987        male
4       Liss        1976  non-binary
1   Cornélie        1965      female
3     Mathew        1896        male
0        Ada        1815      female

### Transform data

In [15]:
data_frame.rename(columns={"name": "first_name"})

        name  birth_year      gender
0        Ada        1815      female
1   Cornélie        1965      female
2  Stanisław        1987        male
3     Mathew        1896        male
4       Liss        1976  non-binary

In [19]:
data_frame.assign(age = 2020-data_frame["birth_year"])

        name  birth_year      gender  age
0        Ada        1815      female  205
1   Cornélie        1965      female   55
2  Stanisław        1987        male   33
3     Mathew        1896        male  124
4       Liss        1976  non-binary   44

### Query & filter data

In [31]:
data_frame[["name", "gender"]]

        name      gender
0        Ada      female
1   Cornélie      female
2  Stanisław        male
3     Mathew        male
4       Liss  non-binary

In [40]:
data_frame.iloc[[3]]

     name  birth_year gender
3  Mathew        1896   male

In [32]:
data_frame[["gender"]].drop_duplicates()

       gender
0      female
2        male
4  non-binary

In [35]:
data_frame.query("gender == 'female' | gender == 'non-binary' & birth_year > 1900")

       name  birth_year      gender
0       Ada        1815      female
1  Cornélie        1965      female
4      Liss        1976  non-binary

In [37]:
data_frame.sample(n=3)

        name  birth_year      gender
2  Stanisław        1987        male
4       Liss        1976  non-binary
1   Cornélie        1965      female

### Export and import data

In [45]:
data_frame.to_csv("./example_export.csv", index = False)

In [46]:
example_import = pd.read_csv("./example_export.csv")
example_import

        name  birth_year      gender
0        Ada        1815      female
1   Cornélie        1965      female
2  Stanisław        1987        male
3     Mathew        1896        male
4       Liss        1976  non-binary